<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YNAB Mobile Insights</title>
    <style>
      body {
          font-family: 'Arial', sans-serif;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #eceff1;
          color: #333;
      }

      .container {
          text-align: center;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
          padding: 30px;
          border-radius: 12px;
          background: white;
          max-width: 600px;
          width: 90%;
          box-sizing: border-box;
      }

      h1 {
          font-size: 28px;
          color: #333;
          margin-bottom: 10px;
      }

      p {
          font-size: 18px;
          color: #555;
      }

      .btn {
          display: inline-block;
          padding: 12px 24px;
          margin-top: 20px;
          font-size: 18px;
          color: #fff;
          background-color: #00897B;
          border: none;
          border-radius: 8px;
          text-decoration: none;
          transition: background-color 0.3s ease;
      }

      .btn:hover {
          background-color: #00695C;
          cursor: pointer;
      }

      .btn-secondary {
          background-color: #6d6875;
      }

      .btn-secondary:hover {
          background-color: #4a4e69;
      }

      @media (max-width: 600px) {
          h1 {
              font-size: 24px;
          }

          p {
              font-size: 16px;
          }

          .btn {
              padding: 10px 20px;
              font-size: 16px;
          }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to YNAB Mobile Insights!</h1>
      <p>Explore detailed reports on-the-go</p>
      <%= link_to 'Assignments by Categories', 'reports/categoryoverview', class: 'btn' %>
      <%= link_to 'Another Report', '#', class: 'btn btn-secondary' %> <!-- Placeholder for another button -->
      <%= link_to 'More Options', '#', class: 'btn btn-secondary' %> <!-- Placeholder for another button -->
    </div>
  </body>
</html>
